@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --main-letters-color: #1e0e62;
  --white-background-color: #ffffff;
  --creme-background-color: #f1f1f1;
  --description-letters-color: rgba(21, 20, 57, 0.4);
}
.dark-theme {
  --main-letters-color: #ffffff;
  --white-background-color: #202120;
  --creme-background-color: #191a19;
  --description-letters-color: rgba(229, 229, 237, 0.4);
}

* {
  transition: 0.3s ease;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 18vw;
  margin-right: 18vw;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hr {
  margin: none;
  padding: none;
}

/* Css for mobile menu */

.icono_menu {
  display: none;
}

.icono_menu img {
  cursor: pointer;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*header*/
header {
  display: flex;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100px;
  background-color: var(--white-background-color);
}

.headerScroll {
  height: 80px;
  transition: 1s ease all;
}

header div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*Title*/

header div h1 {
  width: 190px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.292683px;

  /* Colors / Heading */
  color: var(--main-letters-color);
}

header div nav {
  display: flex;
}

header div nav ol {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header div nav ol ul a {
  /* Sign Up */
  margin: 15px;
  width: auto;
  height: 22px;

  /* Buttons / Small */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  text-align: center;
  text-decoration: none;
  /* Colors / Heading */
  color: var(--main-letters-color);
}

header div nav ol ul a:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #003c8d;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

header div nav ol ul a:hover:after {
  width: 100%;
  right: 0;
  color: #856fff;
}

header div nav ol ul a button {
  width: 85px;
  height: 25px;
  margin: none;
  border-radius: 5px;
  color: white;
  background-color: #5fb4ff;
  border: none;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header div nav ol ul a button:hover {
  background-color: #003c8d;
}

.lightDarkBtn {
  cursor: pointer;
  margin: 10px;
  width: 35px;
}

/*my info*/
.Mi-info {
  display: flex;
  height: 800px;
  flex-direction: row;
  background-color: var(--creme-background-color);
}

.Mi-info_div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 45px;
  max-width: 550px;
  margin-top: 110px;
  margin-bottom: 50px;
}

.Mi-info-div_h2 {
  left: 8.29%;
  right: 61.57%;
  top: 20.96%;
  bottom: 46.54%;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 60px;

  display: flex;
  flex-direction: column;
  /* Colors / Heading */

  color: var(--main-letters-color);
}

.Mi-info-div_h2_span {
  display: flex;
  flex-direction: row;
  color: #003c8d;
  margin: 0;
  padding: 0;
  transition: 1s ease;
}

.Mi-info_p {
  left: 8.29%;
  right: 65.36%;
  top: 53.46%;
  bottom: 17.12%;

  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* or 118% */

  /* Colors / Text */

  color: var(--description-letters-color);

  mix-blend-mode: normal;
}

.Mi-info_technologies {
  display: flex;
}

.Mi-info_technologies img {
  display: flex;
  width: 50px;
  margin: 5px;
}

.Mi-info-div-MyImg {
  display: flex;
  margin: 15px;
  margin-right: 50px;
}

.Mi-info-div-MyImg_img {
  display: flex;
  flex-direction: row;
  width: 300px;
  border-radius: 50%;
}

/*proyectos*/
.My-Experiencies {
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--creme-background-color);
}

.My-Experiencies_Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}

.My-Experiencies_Main-DivImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.My-Experiencies_Main-DivImg_img {
  display: flex;
  width: 85px;
}

.My-Experiencies_title {
  display: flex;
  /* Heading / H3 Title */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  /* identical to box height, or 124% */

  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.4px;

  /* Colors / Heading */

  color: var(--main-letters-color);
}

.My-Experiencies_description {
  display: flex;
  margin: auto;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */

  text-align: center;
  justify-content: center;
  align-items: center;

  /* Colors / Text */

  color: var(--description-letters-color);

  mix-blend-mode: normal;
}

.My-Experiencies_DivBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 65px;
  margin-bottom: 91px;
}

.My-Experiencies_DivBtn a {
  text-decoration: none;
}

.My-Experiencies-DivBtn_Btn {
  /* Action / Primary */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: none;
  text-decoration: none;

  background: #003c8d;
  color: white;
  border-radius: 100px;

  cursor: pointer;
}

.My-Experiencies-DivBtn_Btn:hover {
  background: #003c8d;
}

.My-Experiencies_Works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.My-Experiencies_Works_Div {
  display: flex;
  height: 220px;
  flex-direction: column;
  margin: 4%;
  margin-bottom: 250px;
}

.My-Experiencies_Works_Div a {
  display: flex;
  width: 370px;
  height: 220px;
}

.My-Experiencies_Works_Div_img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.My-Experiencies_Works_Div_img:hover {
  transform: scale(1.1);
}

.My-Experiencies_Works_Div_Tools {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.My-Experiencies_Works_Div_ToolsImg {
  display: flex;
  width: 25px;
}

.My-Experiencies_Works_Div_h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  margin-top: 10px;
  /* identical to box height, or 145% */

  /* Colors / Heading */

  color: var(--main-letters-color);
}
.My-Experiencies_Works_Div_p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 347px;

  /* Colors / Text */

  color: var(--description-letters-color);

  mix-blend-mode: normal;
}

.My-Experiencies_Works_Div_p b {
  font-size: 18px;
}

/*footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 1000px;
  background-color: var(--creme-background-color);
}

.footer a {
  text-decoration: none;
}

.footer_h5 {
  display: flex;
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  padding-top: 200px;
  padding-left: 15px;
  padding-right: 15px;
  /* identical to box height, or 121% */

  letter-spacing: -1px;

  /* Colors / Heading */

  color: var(--main-letters-color);
}

.footer_description {
  display: flex;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  /* or 121% */

  letter-spacing: -1px;

  /* Action / Secondary */

  color: #482be7;
}

.footer_description:hover {
  color: #5f43ff;
}

.footer_divSocialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px;
  gap: 60px;
}

.footer_socialMedia {
  display: flex;
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  /* Css for the mobile menu when the screen are more smallest */

  header {
    height: 120px;
  }

  header div h1 {
    font-size: 20px;
  }

  header .container {
    margin-left: 12vw;
    margin-right: 12vw;
  }

  .container .column {
    margin: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icono_menu {
    display: flex;
    align-items: center;
  }

  .elem_menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #003c8d;
    width: 50%;
    height: 100vh;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .elem_menu.active {
    transform: translateX(-20px)
  }

  .elem_menu ol ul a{
    font-size: 20px;
    padding: 10px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    
  }

  .elem_menu > ol {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3em;
  }

  header div nav ol {
    align-items: center;
    width: revert;
    justify-content: revert;
  }

  header div nav ol ul a {
    font-size: 30px;
    color: white;
  }

  /* Estilos para computadoras de escritorio y laptops */

  .Mi-info-div_h2 {
    text-align: center;
  }

  .My-Experiencies_Works {
    display: grid;
  }
  .My-Experiencies_Works_Div {
    margin: 270px;
  }

  .column {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 130px;
  }

  .Mi-info-div-MyImg_img {
    width: 100%;
    display: flex;
    border-radius: 50%;
  }

  .Mi-info {
    height: auto;
    width: auto;
  }

  .Mi-info_div {
    gap: 25px;
    margin-top: 20px;
  }

  .Mi-info_p {
    text-align: center;
  }

  .Mi-info_technologies {
    justify-content: center;
    flex-wrap: wrap;
  }

  .My-Experiencies_description {
    font-size: 26px;
  }

  .My-Experiencies-DivBtn_Btn {
    width: 70vw;
    height: 100px;
    font-size: 34px;
    font-weight: 700;
  }

  .My-Experiencies_Works_Div {
    align-items: center;
    justify-content: center;
  }

  .My-Experiencies_Works_Div a {
    width: 65vw;
    height: auto;
  }

  .My-Experiencies_Works_Div_ToolsImg {
    width: 50px;
    margin: 10px;
  }

  .My-Experiencies_Works_Div_h5 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }

  .My-Experiencies_Works_Div_p {
    margin: 15px;
    font-size: 26px;
    width: 90%;
    text-align: center;
    letter-spacing: -0.9px;
    word-spacing: 2px;
  }

  .My-Experiencies_Works_Div_p b {
    font-size: 30px;
  }

  .My-Experiencies_Works_Div_p b a {
    margin: auto;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
  }

  .footer > h5 {
    font-size: 15vw;
    padding: 2%;
  }
  .footer > a > p {
    font-size: 8vw;
  }

  .footer_socialMedia img {
    width: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .icono_menu img {
    width: 40px;
    height: 40px;
  }

  .Mi-info-div_h2 {
    text-align: center;
    font-size: 12vw;
  }

  .footer_divSocialMedia {
    margin: 60px;
  }

  .elem_menu ol ul a{
    font-size: 14px;
    padding: 5px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    
  }

}
